name: Documentation Update
on:
  pull_request:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x]
    steps:
    - uses: actions/checkout@v2
    - name: NPM Script Documentation
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm install -g jsdoc
    - run: npm run doc
    - run: |
          git config --local user.email "heitor_massarente@msn.com"
          git config --local user.name "Izurii"
          git add .
          git commit -m "Documentation update."
