name: Documentation Update
on:
  push:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x]
    steps:
    - uses: actions/checkout@v2
    - name: NPM Script Documentation
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm install -g jsdoc
    - run: npm run doc
    - run: git config --local user.email "heitor_massarente@msn.com"
    - run: git config --local user.name "Izurii"
    - run: git checkout -b documentation
    - run: git add ./
    - run: git commit -m "Documentation update."
    - run: git push -f -u origin documentation
